@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-store {
    background-image: url(/src/Asset/aguy.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 1)
}